@page "/register"

@using JobProviderApp.Dto
@using JobProviderApp.Interface

@inject IAuthService AuthService
@inject NavigationManager Navigation

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 400px;">
        <div class="card-header bg-success text-white text-center">
            <h3>Job Provider Registration</h3>
        </div>
        <div class="card-body">
            <EditForm Model="jobProvider" OnValidSubmit="Registerr">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label class="form-label fw-bold">Name:</label>
                    <InputText class="form-control" @bind-Value="jobProvider.Name" />
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Email:</label>
                    <InputText class="form-control" @bind-Value="jobProvider.Email" />
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Password:</label>
                    <InputText class="form-control" @bind-Value="password" Type="password" />
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success w-100">
                        <i class="bi bi-person-plus"></i> Register
                    </button>
                </div>
            </EditForm>

            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-danger text-center mt-3">@message</div>
            }

            <div class="text-center mt-3">
                <p>Already have an account <a href="/login" class="text-decoration-none">Login</a></p>
            </div>
        </div>
    </div>
</div>

@code {
    private JobProviderDto jobProvider = new();
    private string password = "";
    private string message = "";

    private async Task Registerr()
    {
        var success = await AuthService.Register(jobProvider, password);

        if (success)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            message = "Email already exists.";
        }
    }
}